{% extends 'bootstrap/base.html' %}
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>PasteBin Scraper</title>
      {% endif %}

       <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    {% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('homepage') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('all_alarms') }}">All Statuses</a></li>
                    <li><a href="{{ url_for('unsure_alarms') }}">Unclassified</a></li>
                    <li><a href="{{ url_for('false_alarms') }}">False Alarms</a></li>
                    <li><a href="{{ url_for('confirmed_alarms') }}">Matches</a></li>
                    <li>
                    <div class="dropdown" style="padding-top: 7px;">
                        <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Filter Keywords
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for term in terms %}
                        <li><a href="{{ url_for('filtered_search', kw=term) }}">{{ term }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        {% endblock %}
        {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
    {% endblock %}
</html>