{% extends 'base.html' %}

{% block app_content %}
<br>
<br>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="{{ url_for('confirmed_alarms') }}" type="button" class="btn btn-danger">Matches</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{{ url_for('unsure_alarms') }}" type="button" class="btn btn-warning">Unknown</a>
    </div>
    <div class="btn-group" role="group">
        <a href="{{ url_for('false_alarms') }}" type="button" class="btn btn-success">False Alarms</a>
    </div>
    <div class="btn-group" role="group">
        <a href="{{ url_for('all_alarms') }}" type="button" class="btn btn-default">All</a>
    </div>
  </div>

{% endblock %}