{% extends 'base.html' %}

{% block app_content %}

<div class="page-header">
    <h1>All Pastebin Hits</h1>
</div>

{% if data %}

<div class="container"> 
    <div class="row">
        {% for paste in data %}
        <!--paste = the _id value from Mongo-->
        <ul class="list-group">
        {% if data[paste].FalseAlarm == "Maybe" %}
            <li class="list-group-item-warning">Keyword: {{ data[paste].Keyword }}</li>
        {% elif data[paste].FalseAlarm == "Match" %}
            <li class="list-group-item-danger">Keyword: {{ data[paste].Keyword }}</li>
        {% elif data[paste].FalseAlarm == "Miss" %}
            <li class="list-group-item-success">Keyword: {{ data[paste].Keyword }}</li>
        {% else %}
            <li class="list-group-item-info">Keyword: {{ data[paste].Keyword }}</li>
        {% endif %}
            <li class="list-group-item-info">Link: {{ data[paste].Link }}</li>
        
       
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href='{{ url_for("update_record", id=paste, status="Miss") }}' type="button" class="btn btn-success">False Positive</a>
                </div>
                <div class="btn-group" role="group">
                    <a href='{{ url_for("update_record", id=paste, status="Match") }}' type="button" class="btn btn-danger">Match</a>
                </div>
            </div>
            
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample{{ paste }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{ paste }}">View Full Paste</a>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="multiCollapseExample{{ paste }}">
                    <div class="card card-body">
                        {{ data[paste].RawData }}
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
    


        

{% else %}

No data returned


{% endif %}



{% endblock %}